@import url(https://fonts.googleapis.com/css?family=Montserrat);

// Grid stuff
.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: 
  "title-message title-message title-message"
  ". middle-space ."
  ;
  justify-items: center;
}

.title-message {
//   background-color: darkred;
  grid-area: title-message;
}

.cards {
//   background-color: green;
  grid-area: middle-space;
  display: flex;
}


// Font stuff
.title-message {
  h1,
  h2 {
    margin: 0;
    // width: 100%;
    font-family: "Montserrat", sans-serif;
    color: #222;
    font-size: 48px;
    font-weight: normal;
  }

  .bold {
    font-weight: bold;
    padding-bottom: 10px;
  }

  h2 {
    color: #696969;
    font-size: 18px;
  }
}
